---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getAllPokemons } from "~services/pokemon";

const pokemons = await getAllPokemons()
---

<Layout title="Welcome to Pokemon island.">
	<h1 class="text-4xl my-10">Selamat Datang di Pulau Pokemon</h1>
	<div class="grid grid-cols-2 md:grid-cols-4 xl:grid-cols-6 gap-4 mt-8">
		{pokemons.map((poke,index)=>(
		<Card elements={poke.detail.types} index={index} href={`/${poke.name}`} imageUrl={poke.detail.imageUrl}
			title={poke.name} />
		))
		}
	</div>
</Layout>
